<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_99a0e8f7aeab402592a35f2519df3bef {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_99a0e8f7aeab402592a35f2519df3bef" ></div>
        
</body>
<script>    
    
            var map_99a0e8f7aeab402592a35f2519df3bef = L.map(
                "map_99a0e8f7aeab402592a35f2519df3bef",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_650256f1b0d446e28ef00456d202db7e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_99a0e8f7aeab402592a35f2519df3bef);
        
    
            var feature_group_10a3230cf5d241d88bdd2d8fdcf466af = L.featureGroup(
                {}
            ).addTo(map_99a0e8f7aeab402592a35f2519df3bef);
        
    
            var marker_26fdbaeaedac4f67b096e47f5f92e7be = L.marker(
                [28.41769265, -81.58111071077724],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_88ad44ba07494fb397bd9ed767d1d494 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_26fdbaeaedac4f67b096e47f5f92e7be.setIcon(icon_88ad44ba07494fb397bd9ed767d1d494);
        
    
        var popup_5ebc16f3b7b9446bb54851cdca69b697 = L.popup({"maxWidth": "100%"});

        
            var html_a1e6c3fd599a4501ab4d1c2d0e441fae = $(`<div id="html_a1e6c3fd599a4501ab4d1c2d0e441fae" style="width: 100.0%; height: 100.0%;">Fox News</div>`)[0];
            popup_5ebc16f3b7b9446bb54851cdca69b697.setContent(html_a1e6c3fd599a4501ab4d1c2d0e441fae);
        

        marker_26fdbaeaedac4f67b096e47f5f92e7be.bindPopup(popup_5ebc16f3b7b9446bb54851cdca69b697)
        ;

        
    
    
            var marker_b18a23d4c64d4a889c769d3a8c1bb89c = L.marker(
                [36.1150858, -115.173414],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_5996503e208c409aa40922dffaba9fc8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b18a23d4c64d4a889c769d3a8c1bb89c.setIcon(icon_5996503e208c409aa40922dffaba9fc8);
        
    
        var popup_bc3f1110fc5b4197a96cfd29d8a8d277 = L.popup({"maxWidth": "100%"});

        
            var html_f8e4083e2eff4f7ba0b76959c55c8e5c = $(`<div id="html_f8e4083e2eff4f7ba0b76959c55c8e5c" style="width: 100.0%; height: 100.0%;">Drizzy</div>`)[0];
            popup_bc3f1110fc5b4197a96cfd29d8a8d277.setContent(html_f8e4083e2eff4f7ba0b76959c55c8e5c);
        

        marker_b18a23d4c64d4a889c769d3a8c1bb89c.bindPopup(popup_bc3f1110fc5b4197a96cfd29d8a8d277)
        ;

        
    
    
            var marker_58d0fe67482b40b88ffc2750a5c5ce39 = L.marker(
                [42.3315509, -83.0466403],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_173e249a747a4427b9233b49ce10b834 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_58d0fe67482b40b88ffc2750a5c5ce39.setIcon(icon_173e249a747a4427b9233b49ce10b834);
        
    
        var popup_b51c4c643bdd4427a778d1d97bbc9233 = L.popup({"maxWidth": "100%"});

        
            var html_22353451103240358548e45bcf5d989d = $(`<div id="html_22353451103240358548e45bcf5d989d" style="width: 100.0%; height: 100.0%;">Marshall Mathers</div>`)[0];
            popup_b51c4c643bdd4427a778d1d97bbc9233.setContent(html_22353451103240358548e45bcf5d989d);
        

        marker_58d0fe67482b40b88ffc2750a5c5ce39.bindPopup(popup_b51c4c643bdd4427a778d1d97bbc9233)
        ;

        
    
    
            var marker_564b5caf32a14a0585e29d6d21159922 = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_05cd3c2ab353450e82e7322d523c05f3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_564b5caf32a14a0585e29d6d21159922.setIcon(icon_05cd3c2ab353450e82e7322d523c05f3);
        
    
        var popup_888f2247db25462fb54813b38ccdc86f = L.popup({"maxWidth": "100%"});

        
            var html_9f81add79bd743c8b1e2117dbceea272 = $(`<div id="html_9f81add79bd743c8b1e2117dbceea272" style="width: 100.0%; height: 100.0%;">Andrew Yaroshevych,  Max Kidruk</div>`)[0];
            popup_888f2247db25462fb54813b38ccdc86f.setContent(html_9f81add79bd743c8b1e2117dbceea272);
        

        marker_564b5caf32a14a0585e29d6d21159922.bindPopup(popup_888f2247db25462fb54813b38ccdc86f)
        ;

        
    
    
            var marker_1984fb8a57404fd8a475fe69eb3c4884 = L.marker(
                [52.4808348, -1.9142353],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_7c77a865a4a94d5584b8850a21c36135 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1984fb8a57404fd8a475fe69eb3c4884.setIcon(icon_7c77a865a4a94d5584b8850a21c36135);
        
    
        var popup_5f2d5a2e11c3426da87b6db7deba1cb0 = L.popup({"maxWidth": "100%"});

        
            var html_76df42196d814f26ab6a9b68756868a9 = $(`<div id="html_76df42196d814f26ab6a9b68756868a9" style="width: 100.0%; height: 100.0%;">Tattoo Art</div>`)[0];
            popup_5f2d5a2e11c3426da87b6db7deba1cb0.setContent(html_76df42196d814f26ab6a9b68756868a9);
        

        marker_1984fb8a57404fd8a475fe69eb3c4884.bindPopup(popup_5f2d5a2e11c3426da87b6db7deba1cb0)
        ;

        
    
    
            var marker_21f194883e3e4fe1be67761afcea89f4 = L.marker(
                [41.8755616, -87.6244212],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_df1261316a6944bc9164c5ce7ed860ef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_21f194883e3e4fe1be67761afcea89f4.setIcon(icon_df1261316a6944bc9164c5ce7ed860ef);
        
    
        var popup_ad19b0ef45d8473db8cb24b5a258d534 = L.popup({"maxWidth": "100%"});

        
            var html_75a4ca03bd9f46febf7435d77d39d82f = $(`<div id="html_75a4ca03bd9f46febf7435d77d39d82f" style="width: 100.0%; height: 100.0%;">Fall Out Boy</div>`)[0];
            popup_ad19b0ef45d8473db8cb24b5a258d534.setContent(html_75a4ca03bd9f46febf7435d77d39d82f);
        

        marker_21f194883e3e4fe1be67761afcea89f4.bindPopup(popup_ad19b0ef45d8473db8cb24b5a258d534)
        ;

        
    
    
            var marker_a38563e99d4f4de59fe7561834b45f1f = L.marker(
                [53.3806626, -1.4702278],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_6b4c2495a38d4b7fb2b2fdc44349b5d9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a38563e99d4f4de59fe7561834b45f1f.setIcon(icon_6b4c2495a38d4b7fb2b2fdc44349b5d9);
        
    
        var popup_28a8504c56f24563b1222e08c1a10abd = L.popup({"maxWidth": "100%"});

        
            var html_4f150af7b2334c82b34cae06ef51476e = $(`<div id="html_4f150af7b2334c82b34cae06ef51476e" style="width: 100.0%; height: 100.0%;">Bring Me The Horizon</div>`)[0];
            popup_28a8504c56f24563b1222e08c1a10abd.setContent(html_4f150af7b2334c82b34cae06ef51476e);
        

        marker_a38563e99d4f4de59fe7561834b45f1f.bindPopup(popup_28a8504c56f24563b1222e08c1a10abd)
        ;

        
    
    
            var marker_50a8d0924e694770b1003eb1826c0383 = L.marker(
                [36.1672559, -115.148516],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_d756c10e6caf432a9f63a2982b1c7d56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_50a8d0924e694770b1003eb1826c0383.setIcon(icon_d756c10e6caf432a9f63a2982b1c7d56);
        
    
        var popup_a12d0fdd8ce1416ca865ec92aa23b1bd = L.popup({"maxWidth": "100%"});

        
            var html_24ac6b498a4548d88bd3504d577ea6e1 = $(`<div id="html_24ac6b498a4548d88bd3504d577ea6e1" style="width: 100.0%; height: 100.0%;">Imagine Dragons</div>`)[0];
            popup_a12d0fdd8ce1416ca865ec92aa23b1bd.setContent(html_24ac6b498a4548d88bd3504d577ea6e1);
        

        marker_50a8d0924e694770b1003eb1826c0383.bindPopup(popup_a12d0fdd8ce1416ca865ec92aa23b1bd)
        ;

        
    
    
            var marker_41bbddf7540e474f9bf8a25b6c31167c = L.marker(
                [37.3893889, -122.0832101],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_38e485e91021452a806d0c9eadce0cd8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_41bbddf7540e474f9bf8a25b6c31167c.setIcon(icon_38e485e91021452a806d0c9eadce0cd8);
        
    
        var popup_7c8c532fb1e0453195396a9bdf419a29 = L.popup({"maxWidth": "100%"});

        
            var html_54b1bca27b124225acddae684db3cb37 = $(`<div id="html_54b1bca27b124225acddae684db3cb37" style="width: 100.0%; height: 100.0%;">Google</div>`)[0];
            popup_7c8c532fb1e0453195396a9bdf419a29.setContent(html_54b1bca27b124225acddae684db3cb37);
        

        marker_41bbddf7540e474f9bf8a25b6c31167c.bindPopup(popup_7c8c532fb1e0453195396a9bdf419a29)
        ;

        
    
    
            var marker_aa63f0b1273d4ec9b731f8c853794ac2 = L.marker(
                [47.6038321, -122.3300624],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_68f75b48cb794b598f6bdf045c8161fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_aa63f0b1273d4ec9b731f8c853794ac2.setIcon(icon_68f75b48cb794b598f6bdf045c8161fc);
        
    
        var popup_a69b9ccc0ef645c1b117ad8ff21e6be2 = L.popup({"maxWidth": "100%"});

        
            var html_7fd55afaf2cf40849bd3fe61e8ed2887 = $(`<div id="html_7fd55afaf2cf40849bd3fe61e8ed2887" style="width: 100.0%; height: 100.0%;">Bill Gates</div>`)[0];
            popup_a69b9ccc0ef645c1b117ad8ff21e6be2.setContent(html_7fd55afaf2cf40849bd3fe61e8ed2887);
        

        marker_aa63f0b1273d4ec9b731f8c853794ac2.bindPopup(popup_a69b9ccc0ef645c1b117ad8ff21e6be2)
        ;

        
    
    
            var marker_7f8b8d335ebe470596c4ad8e39df5762 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_695698d705684948978b836d8fe414d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7f8b8d335ebe470596c4ad8e39df5762.setIcon(icon_695698d705684948978b836d8fe414d8);
        
    
        var popup_0b860966bbc8430c949a2b458982df6a = L.popup({"maxWidth": "100%"});

        
            var html_8987bf6659c945fabb1e3d4505f930b6 = $(`<div id="html_8987bf6659c945fabb1e3d4505f930b6" style="width: 100.0%; height: 100.0%;">Голоc Амepики</div>`)[0];
            popup_0b860966bbc8430c949a2b458982df6a.setContent(html_8987bf6659c945fabb1e3d4505f930b6);
        

        marker_7f8b8d335ebe470596c4ad8e39df5762.bindPopup(popup_0b860966bbc8430c949a2b458982df6a)
        ;

        
    
    
            var marker_ea27da81ce974ea983a126607d6f506b = L.marker(
                [33.9188589, -118.3483256],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_ad41ec55dbf44d5993380c9aecc48f53 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ea27da81ce974ea983a126607d6f506b.setIcon(icon_ad41ec55dbf44d5993380c9aecc48f53);
        
    
        var popup_c75153453fea4414be901b7fd1a04f45 = L.popup({"maxWidth": "100%"});

        
            var html_1862348d78574178ae1f6cb0babcc14d = $(`<div id="html_1862348d78574178ae1f6cb0babcc14d" style="width: 100.0%; height: 100.0%;">SpaceX</div>`)[0];
            popup_c75153453fea4414be901b7fd1a04f45.setContent(html_1862348d78574178ae1f6cb0babcc14d);
        

        marker_ea27da81ce974ea983a126607d6f506b.bindPopup(popup_c75153453fea4414be901b7fd1a04f45)
        ;

        
    
    
            var marker_6742bd305b4542f0ab618d64e0e04a9b = L.marker(
                [50.0491699, 1.4175744],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_bc08196c593e4229b4474a80ddf73800 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6742bd305b4542f0ab618d64e0e04a9b.setIcon(icon_bc08196c593e4229b4474a80ddf73800);
        
    
        var popup_344a24e2f6234d118fbe9b4461cbb5c1 = L.popup({"maxWidth": "100%"});

        
            var html_03abfc93c5254db6bfd8057c239ed9fb = $(`<div id="html_03abfc93c5254db6bfd8057c239ed9fb" style="width: 100.0%; height: 100.0%;">Pavel Durov</div>`)[0];
            popup_344a24e2f6234d118fbe9b4461cbb5c1.setContent(html_03abfc93c5254db6bfd8057c239ed9fb);
        

        marker_6742bd305b4542f0ab618d64e0e04a9b.bindPopup(popup_344a24e2f6234d118fbe9b4461cbb5c1)
        ;

        
    
    
            var marker_acad88e4df714b99b97383bccf5a0518 = L.marker(
                [37.3228934, -122.0322895],
                {}
            ).addTo(feature_group_10a3230cf5d241d88bdd2d8fdcf466af);
        
    
            var icon_317b47a7c186465a877ed48a7fe9b425 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_acad88e4df714b99b97383bccf5a0518.setIcon(icon_317b47a7c186465a877ed48a7fe9b425);
        
    
        var popup_95b4610da0624ec4ac62fc5328c9fd2b = L.popup({"maxWidth": "100%"});

        
            var html_fa26d32bf105409382f7b9b1d7c8320a = $(`<div id="html_fa26d32bf105409382f7b9b1d7c8320a" style="width: 100.0%; height: 100.0%;">Tim Cook</div>`)[0];
            popup_95b4610da0624ec4ac62fc5328c9fd2b.setContent(html_fa26d32bf105409382f7b9b1d7c8320a);
        

        marker_acad88e4df714b99b97383bccf5a0518.bindPopup(popup_95b4610da0624ec4ac62fc5328c9fd2b)
        ;

        
    
    
            var layer_control_ceb374d7e77c4aefa12e67ebd9d8b2ad = {
                base_layers : {
                    "openstreetmap" : tile_layer_650256f1b0d446e28ef00456d202db7e,
                },
                overlays :  {
                    "followers of Yurii Zinchuk" : feature_group_10a3230cf5d241d88bdd2d8fdcf466af,
                },
            };
            L.control.layers(
                layer_control_ceb374d7e77c4aefa12e67ebd9d8b2ad.base_layers,
                layer_control_ceb374d7e77c4aefa12e67ebd9d8b2ad.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_99a0e8f7aeab402592a35f2519df3bef);
        
</script>