<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1c34be2a384b42c4a004bd891092228d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1c34be2a384b42c4a004bd891092228d" ></div>
        
</body>
<script>    
    
            var map_1c34be2a384b42c4a004bd891092228d = L.map(
                "map_1c34be2a384b42c4a004bd891092228d",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_02f2522536574bc98bcf199270fcb652 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1c34be2a384b42c4a004bd891092228d);
        
    
            var feature_group_7deabf21f87b4f43a61a03c5bb5f4005 = L.featureGroup(
                {}
            ).addTo(map_1c34be2a384b42c4a004bd891092228d);
        
    
            var marker_d3b919601f9640ccb4a380087eb511a7 = L.marker(
                [42.3602534, -71.0582912],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_cef74a1e848e4c4fbf346b1c27aea1db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d3b919601f9640ccb4a380087eb511a7.setIcon(icon_cef74a1e848e4c4fbf346b1c27aea1db);
        
    
        var popup_b291600fbe8a4e6588d2455e91e16b43 = L.popup({"maxWidth": "100%"});

        
            var html_c57c8ebd52554f3dba4411cbb3efdbab = $(`<div id="html_c57c8ebd52554f3dba4411cbb3efdbab" style="width: 100.0%; height: 100.0%;">Jules Wang 王竣穎</div>`)[0];
            popup_b291600fbe8a4e6588d2455e91e16b43.setContent(html_c57c8ebd52554f3dba4411cbb3efdbab);
        

        marker_d3b919601f9640ccb4a380087eb511a7.bindPopup(popup_b291600fbe8a4e6588d2455e91e16b43)
        ;

        
    
    
            var marker_b652d89cef924b7494a45cf23262c30f = L.marker(
                [36.6061713, -91.3831923],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_4e9fda3f15064937a380873014d2682c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b652d89cef924b7494a45cf23262c30f.setIcon(icon_4e9fda3f15064937a380873014d2682c);
        
    
        var popup_395f7a7777a54cdbb69ed7f5176c75fb = L.popup({"maxWidth": "100%"});

        
            var html_d5ce41dd66c44f5a9e4872efefcf9320 = $(`<div id="html_d5ce41dd66c44f5a9e4872efefcf9320" style="width: 100.0%; height: 100.0%;">chrissy teigen</div>`)[0];
            popup_395f7a7777a54cdbb69ed7f5176c75fb.setContent(html_d5ce41dd66c44f5a9e4872efefcf9320);
        

        marker_b652d89cef924b7494a45cf23262c30f.bindPopup(popup_395f7a7777a54cdbb69ed7f5176c75fb)
        ;

        
    
    
            var marker_c34fe352dbde45b7bbd09142ece60d01 = L.marker(
                [39.7837304, -100.445882],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_a068825679184d79a7e19789e88b2ffb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c34fe352dbde45b7bbd09142ece60d01.setIcon(icon_a068825679184d79a7e19789e88b2ffb);
        
    
        var popup_110cbdae9371415782370c48d2a2ef45 = L.popup({"maxWidth": "100%"});

        
            var html_828c5999cdf14020a4c09590de021526 = $(`<div id="html_828c5999cdf14020a4c09590de021526" style="width: 100.0%; height: 100.0%;">Alejandro Mayorkas, Secretary of Defense Lloyd J. Austin III, The White House, It's On Us</div>`)[0];
            popup_110cbdae9371415782370c48d2a2ef45.setContent(html_828c5999cdf14020a4c09590de021526);
        

        marker_c34fe352dbde45b7bbd09142ece60d01.bindPopup(popup_110cbdae9371415782370c48d2a2ef45)
        ;

        
    
    
            var marker_268ef88e65684359a31c8176277549f6 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_1489ab07857949c48e42468501b7d655 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_268ef88e65684359a31c8176277549f6.setIcon(icon_1489ab07857949c48e42468501b7d655);
        
    
        var popup_ca4f20a9f7d049bbba9bbb5a415e72b1 = L.popup({"maxWidth": "100%"});

        
            var html_0dadca988dda415ab8bbeffffee6870b = $(`<div id="html_0dadca988dda415ab8bbeffffee6870b" style="width: 100.0%; height: 100.0%;">Antony Blinken, Neera Tanden, Denis McDonough, Jennifer Granholm, Michael S. Regan, Kamala Harris, Biden Cancer, Penn Biden Center, Dr. Biden -Archived, White House Archived, Michelle Obama, Barack Obama</div>`)[0];
            popup_ca4f20a9f7d049bbba9bbb5a415e72b1.setContent(html_0dadca988dda415ab8bbeffffee6870b);
        

        marker_268ef88e65684359a31c8176277549f6.bindPopup(popup_ca4f20a9f7d049bbba9bbb5a415e72b1)
        ;

        
    
    
            var marker_5f5af79974fc4286bc98d8b4ca7a536d = L.marker(
                [38.5810606, -121.493895],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_9e813838b87340b8a58afc1e72ec67ee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5f5af79974fc4286bc98d8b4ca7a536d.setIcon(icon_9e813838b87340b8a58afc1e72ec67ee);
        
    
        var popup_6393622993e746cdafbf62895247a673 = L.popup({"maxWidth": "100%"});

        
            var html_d6ac4c40fcde4e1b9dc625f184d88ed3 = $(`<div id="html_d6ac4c40fcde4e1b9dc625f184d88ed3" style="width: 100.0%; height: 100.0%;">Xavier Becerra</div>`)[0];
            popup_6393622993e746cdafbf62895247a673.setContent(html_d6ac4c40fcde4e1b9dc625f184d88ed3);
        

        marker_5f5af79974fc4286bc98d8b4ca7a536d.bindPopup(popup_6393622993e746cdafbf62895247a673)
        ;

        
    
    
            var marker_32b5c0140fe340c29977b9237dbd2557 = L.marker(
                [40.2253569, -82.6881395],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_cc9303b0129b44a3a1f3787126b31d56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_32b5c0140fe340c29977b9237dbd2557.setIcon(icon_cc9303b0129b44a3a1f3787126b31d56);
        
    
        var popup_8353a6cbb51c4b6aafe89950362f8da5 = L.popup({"maxWidth": "100%"});

        
            var html_777b4153dba6469bbb01bb424ae7b26c = $(`<div id="html_777b4153dba6469bbb01bb424ae7b26c" style="width: 100.0%; height: 100.0%;">Marcia L. Fudge</div>`)[0];
            popup_8353a6cbb51c4b6aafe89950362f8da5.setContent(html_777b4153dba6469bbb01bb424ae7b26c);
        

        marker_32b5c0140fe340c29977b9237dbd2557.bindPopup(popup_8353a6cbb51c4b6aafe89950362f8da5)
        ;

        
    
    
            var marker_3fe3210d462447f9855f4c164b0b1186 = L.marker(
                [41.6833813, -86.2500066],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_b31ca9435ccd408982d1b3e00943f426 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3fe3210d462447f9855f4c164b0b1186.setIcon(icon_b31ca9435ccd408982d1b3e00943f426);
        
    
        var popup_9d496c11917d457a8c4e07d735890f3e = L.popup({"maxWidth": "100%"});

        
            var html_5844b1cf8b0648a1a31de86b7d2ccbdc = $(`<div id="html_5844b1cf8b0648a1a31de86b7d2ccbdc" style="width: 100.0%; height: 100.0%;">Pete Buttigieg</div>`)[0];
            popup_9d496c11917d457a8c4e07d735890f3e.setContent(html_5844b1cf8b0648a1a31de86b7d2ccbdc);
        

        marker_3fe3210d462447f9855f4c164b0b1186.bindPopup(popup_9d496c11917d457a8c4e07d735890f3e)
        ;

        
    
    
            var marker_18289d2568eb4b888ec96d2774e6c025 = L.marker(
                [35.0841034, -106.650985],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_fc9e35eba7a440599fb18eda4e60e273 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_18289d2568eb4b888ec96d2774e6c025.setIcon(icon_fc9e35eba7a440599fb18eda4e60e273);
        
    
        var popup_0e7ea1806bd14b78acfae832deb53f45 = L.popup({"maxWidth": "100%"});

        
            var html_48046ad027ff4c4b98130c3ac951e966 = $(`<div id="html_48046ad027ff4c4b98130c3ac951e966" style="width: 100.0%; height: 100.0%;">Deb Haaland</div>`)[0];
            popup_0e7ea1806bd14b78acfae832deb53f45.setContent(html_48046ad027ff4c4b98130c3ac951e966);
        

        marker_18289d2568eb4b888ec96d2774e6c025.bindPopup(popup_0e7ea1806bd14b78acfae832deb53f45)
        ;

        
    
    
            var marker_4513f9b441004e1da2093de488ed7571 = L.marker(
                [39.5158825, -116.8537227],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_201e42649ec8446ebb6e8466ffcaa414 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4513f9b441004e1da2093de488ed7571.setIcon(icon_201e42649ec8446ebb6e8466ffcaa414);
        
    
        var popup_658e79ab99bf4856b8840460c74c7328 = L.popup({"maxWidth": "100%"});

        
            var html_87ef5d047fec40dc983f59cc180ab6a3 = $(`<div id="html_87ef5d047fec40dc983f59cc180ab6a3" style="width: 100.0%; height: 100.0%;">Joe for Nevada</div>`)[0];
            popup_658e79ab99bf4856b8840460c74c7328.setContent(html_87ef5d047fec40dc983f59cc180ab6a3);
        

        marker_4513f9b441004e1da2093de488ed7571.bindPopup(popup_658e79ab99bf4856b8840460c74c7328)
        ;

        
    
    
            var marker_dbd4322b88c3475c8f690abd1235292e = L.marker(
                [34.0007493, -81.0343313],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_fe3ccc0429724d65bcde38de27c99d29 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_dbd4322b88c3475c8f690abd1235292e.setIcon(icon_fe3ccc0429724d65bcde38de27c99d29);
        
    
        var popup_95f33726bb174beca3cd15d5f9397387 = L.popup({"maxWidth": "100%"});

        
            var html_55bbbf271bbd4459be8d22b1dcfa3e29 = $(`<div id="html_55bbbf271bbd4459be8d22b1dcfa3e29" style="width: 100.0%; height: 100.0%;">Joe Won.</div>`)[0];
            popup_95f33726bb174beca3cd15d5f9397387.setContent(html_55bbbf271bbd4459be8d22b1dcfa3e29);
        

        marker_dbd4322b88c3475c8f690abd1235292e.bindPopup(popup_95f33726bb174beca3cd15d5f9397387)
        ;

        
    
    
            var marker_8f355c5c6bd14cf4a88764d8b2611c3a = L.marker(
                [41.9216734, -93.3122705],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_d94dc34b34cf449cb558502a54000069 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8f355c5c6bd14cf4a88764d8b2611c3a.setIcon(icon_d94dc34b34cf449cb558502a54000069);
        
    
        var popup_90d1cebe5727400ab3c87afab776bb10 = L.popup({"maxWidth": "100%"});

        
            var html_acc3e407b1934a10aa6ee0aeb3ea70e6 = $(`<div id="html_acc3e407b1934a10aa6ee0aeb3ea70e6" style="width: 100.0%; height: 100.0%;">Joe for Iowa</div>`)[0];
            popup_90d1cebe5727400ab3c87afab776bb10.setContent(html_acc3e407b1934a10aa6ee0aeb3ea70e6);
        

        marker_8f355c5c6bd14cf4a88764d8b2611c3a.bindPopup(popup_90d1cebe5727400ab3c87afab776bb10)
        ;

        
    
    
            var marker_a6916d7b3c4c4ec08817ffa2927019d8 = L.marker(
                [39.9527237, -75.1635262],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_ac111611b3824c98972acef8a59ec8a7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a6916d7b3c4c4ec08817ffa2927019d8.setIcon(icon_ac111611b3824c98972acef8a59ec8a7);
        
    
        var popup_4c75f22211574963b8bbf9aae3cf3460 = L.popup({"maxWidth": "100%"});

        
            var html_64a537514a014158b9e8fc1f9f7d846d = $(`<div id="html_64a537514a014158b9e8fc1f9f7d846d" style="width: 100.0%; height: 100.0%;">Team Joe (Text JOE to 30330)</div>`)[0];
            popup_4c75f22211574963b8bbf9aae3cf3460.setContent(html_64a537514a014158b9e8fc1f9f7d846d);
        

        marker_a6916d7b3c4c4ec08817ffa2927019d8.bindPopup(popup_4c75f22211574963b8bbf9aae3cf3460)
        ;

        
    
    
            var marker_717b7aaf015842dd8c69b5165dbb0d87 = L.marker(
                [39.6852191, -75.7508289],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_1f21734f50e041d88b7c725a4c24add6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_717b7aaf015842dd8c69b5165dbb0d87.setIcon(icon_1f21734f50e041d88b7c725a4c24add6);
        
    
        var popup_b242fdf7481c491b926ba9b134bef833 = L.popup({"maxWidth": "100%"});

        
            var html_7a2635dfeb4d472aa4de37405512bab6 = $(`<div id="html_7a2635dfeb4d472aa4de37405512bab6" style="width: 100.0%; height: 100.0%;">Biden Institute</div>`)[0];
            popup_b242fdf7481c491b926ba9b134bef833.setContent(html_7a2635dfeb4d472aa4de37405512bab6);
        

        marker_717b7aaf015842dd8c69b5165dbb0d87.bindPopup(popup_b242fdf7481c491b926ba9b134bef833)
        ;

        
    
    
            var marker_0a8427198352478dbed8c10bfc9a5a8a = L.marker(
                [38.6920451, -75.4013315],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_eb39e41475684dc28d6ab39937003747 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0a8427198352478dbed8c10bfc9a5a8a.setIcon(icon_eb39e41475684dc28d6ab39937003747);
        
    
        var popup_20f32a1c18d24228ab4693731d101a7a = L.popup({"maxWidth": "100%"});

        
            var html_a4ef1f2922864581a6e8ce4a24da5df1 = $(`<div id="html_a4ef1f2922864581a6e8ce4a24da5df1" style="width: 100.0%; height: 100.0%;">Livelihood, Beau Biden Foundation</div>`)[0];
            popup_20f32a1c18d24228ab4693731d101a7a.setContent(html_a4ef1f2922864581a6e8ce4a24da5df1);
        

        marker_0a8427198352478dbed8c10bfc9a5a8a.bindPopup(popup_20f32a1c18d24228ab4693731d101a7a)
        ;

        
    
    
            var marker_5ebb19557922458a803d78febc640563 = L.marker(
                [37.5385087, -77.43428],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_791444e7a4724cb2824c56a7bfbd5c3e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5ebb19557922458a803d78febc640563.setIcon(icon_791444e7a4724cb2824c56a7bfbd5c3e);
        
    
        var popup_64df5573644f4c6fae2bcef0d83be112 = L.popup({"maxWidth": "100%"});

        
            var html_49e90e8676ca4d4f854f84624f6a5b88 = $(`<div id="html_49e90e8676ca4d4f854f84624f6a5b88" style="width: 100.0%; height: 100.0%;">Tim Kaine</div>`)[0];
            popup_64df5573644f4c6fae2bcef0d83be112.setContent(html_49e90e8676ca4d4f854f84624f6a5b88);
        

        marker_5ebb19557922458a803d78febc640563.bindPopup(popup_64df5573644f4c6fae2bcef0d83be112)
        ;

        
    
    
            var marker_78e25ff63f4c4a9199dd3bfae3d1b080 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_674cfe3a54ce4a60bbca2effbf0aff98 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_78e25ff63f4c4a9199dd3bfae3d1b080.setIcon(icon_674cfe3a54ce4a60bbca2effbf0aff98);
        
    
        var popup_f5eadaa46cc44d00a00e3606fdd0c8b3 = L.popup({"maxWidth": "100%"});

        
            var html_99bfde128bd841e190123f19c9e1b185 = $(`<div id="html_99bfde128bd841e190123f19c9e1b185" style="width: 100.0%; height: 100.0%;">Hillary Clinton</div>`)[0];
            popup_f5eadaa46cc44d00a00e3606fdd0c8b3.setContent(html_99bfde128bd841e190123f19c9e1b185);
        

        marker_78e25ff63f4c4a9199dd3bfae3d1b080.bindPopup(popup_f5eadaa46cc44d00a00e3606fdd0c8b3)
        ;

        
    
    
            var marker_137eb0e3766c41048104fa15b562d929 = L.marker(
                [38.9074322, -77.0350922],
                {}
            ).addTo(feature_group_7deabf21f87b4f43a61a03c5bb5f4005);
        
    
            var icon_d014c0dd9e214867a27c13302325fa69 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_137eb0e3766c41048104fa15b562d929.setIcon(icon_d014c0dd9e214867a27c13302325fa69);
        
    
        var popup_a4751b4cda0c430a850065b8957bbfeb = L.popup({"maxWidth": "100%"});

        
            var html_48550fa726d6446087a4a72ea0d67532 = $(`<div id="html_48550fa726d6446087a4a72ea0d67532" style="width: 100.0%; height: 100.0%;">The White House 45 Archived, VP Biden (Archived), Vice President Mike Pence Archived, The Democrats</div>`)[0];
            popup_a4751b4cda0c430a850065b8957bbfeb.setContent(html_48550fa726d6446087a4a72ea0d67532);
        

        marker_137eb0e3766c41048104fa15b562d929.bindPopup(popup_a4751b4cda0c430a850065b8957bbfeb)
        ;

        
    
    
            var layer_control_7433f7a3fa57456596a6db182d85938f = {
                base_layers : {
                    "openstreetmap" : tile_layer_02f2522536574bc98bcf199270fcb652,
                },
                overlays :  {
                    "followers of Joe Biden" : feature_group_7deabf21f87b4f43a61a03c5bb5f4005,
                },
            };
            L.control.layers(
                layer_control_7433f7a3fa57456596a6db182d85938f.base_layers,
                layer_control_7433f7a3fa57456596a6db182d85938f.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_1c34be2a384b42c4a004bd891092228d);
        
</script>